<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.or.kosta.dto.MemberVO" alias="mvo"/>
		<typeAlias type="kr.or.kosta.dto.ApplyVO" alias="avo"/>
		<typeAlias type="kr.or.kosta.dto.FreePostVO" alias="fpvo"/>
		<typeAlias type="kr.or.kosta.dto.RecruitVO" alias="rvo"/>
		<typeAlias type="kr.or.kosta.dto.MatchingVO" alias="mcvo"/>
		<typeAlias type="kr.or.kosta.dto.ColRelatedVO" alias="crvo"/>
		<typeAlias type="kr.or.kosta.dto.ManpowerVO" alias="mpvo"/>
	</typeAliases>
</configuration>